html, body {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu";
  
    font-style: normal;
	font-size: 16px;
	position: relative;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 320px;
    height: 100%;
}
img {
    max-width: 100%;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
a.button {
    display: block;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
    /*width: 280px;*/
    /*height: 52px;*/
    border-radius: 40px;
    /*background-color: #ffc000;*/
    color: #fff;
    line-height: 2.6;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    /*margin: 0 auto;*/
    
}
input, 
.button, 
.button:hover, 
.button:active {
	outline: none;
}

/************** Header-section **************/

.header {
	padding: 30px 20px;
	background: #fff;
	width: 100%;
}
.header__fixed {
    position: fixed;
    padding: 5px 20px;
    top: 0;
   	box-shadow: 0 0 10px rgb(255, 255, 255);
    z-index: 1000;
    transition: all .5s ease-in-out;
}
.header__wrap {
	width: 1150px;
	max-width: 100%;
	height: auto;
	margin: auto;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.logo {
	width: 360px;
	height: auto;
}
.navigation__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.menu {	
	margin: 0;
    padding: 0;
    padding-right: 83px;
    width: 100%;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.menu__links-item {
	display: inline-block;
	list-style-type: none;
	font-family: 'Roboto Medium';
	font-size: 1.125em;
	padding-right: 25px;
	position: relative;
	cursor: pointer;
}
.menu__links-item a {
	color: rgb(30, 33, 50);
  line-height: 1.2;
	text-decoration: none;
}
.menu__links-item a:hover,
.menu__links-item a:active {
	color: #e31e24;
	/*border-bottom: 1px solid #fff;*/
}

/************** Adaptive menu **************/

.menu__icon {
	display: none;
	width: 45px;
    height: 35px;
    position: relative;
    left: 0;
    bottom: -13px;
    cursor: pointer;
    margin-right: 0;
}
.menu__icon span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: rgb(30, 33, 50);
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
			transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.menu__icon span:nth-child(1) {
	top: 0px;
}
.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
	top: 13px;
}
.menu__icon span:nth-child(4) {
	top: 26px;
}
.navigation.menu_state_open .menu__icon span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.navigation.menu_state_open .menu__icon span:nth-child(2) {
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
}
.navigation.menu_state_open  .menu__icon span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
}
.navigation.menu_state_open  .menu__icon span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.navigation.menu_state_open .menu__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column;
	line-height: 30px; 
	position: absolute;   
    top: 143px;
    width: 100%;
    z-index: 900;
    background-color: #fff;
    left: 0;
    padding: 20px;
}
.navigation.menu_state_open .menu__links-item {
	width: fit-content;
}


/*****Header========Top__search*****/

.top__search {
    position: relative;
    float: right
}
.search__form {
    z-index: 500;
    position: relative;
    height: 50px;
    float: right
}
.search__form button {
    border: 2px solid #fff;
    position: relative;
    z-index: 100;
    display: block;
    text-indent: -9999px;
    background: #fff url('../img/header/ico-search.png') 100% 50% no-repeat;
    width: 38px;
    height: 50px;
    padding-right: 0;
    cursor: pointer
}
.search__form span {
    z-index: 50;
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    background: #fff
}
.search__form span input {
    background: none;
    border: none;
    padding: 16px 14px;
    border: 1px solid #393939;
    font-size: 14px;
    width: 100%
}
/*****Header========Switch__lang*****/

#lang__menu {
	width: 120px;
    height: auto;
    font-family: 'Roboto Medium';
    font-size: 1.125em;
    color: rgb(30, 33, 50);
  	line-height: 1.2;
    position: absolute;
    top: 4px;
    right: 35px;
  	border: 1px solid rgba(255,255,255,0);
  	transition: all .3s ease;
  	-webkit-transition: all .3s ease;
  	-moz-transition: all .3s ease;
  	-o-transition: all .3s ease;
}
#lang__menu:after {
	content: '';
	background-image: url(../img/header/down-arrow.png);
	width: 15px;
    height: 12px;
    position: absolute;
    top: 13px;
    right: 26px;
}
#lang__menu div {
  	height: 25px;
  	text-align: center;
  	padding: 10px;
  	border-bottom: 1px solid rgba(255,255,255,0);
  	transition: all .2s ease;
  	-webkit-transition: all .2s ease;
  	-moz-transition: all .2s ease;
  	-o-transition: all .2s ease;
}
#lang__menu ul {
  	list-style: none;
  	margin: 0px;
  	padding: 0px;
  	padding-top: 10px;
  	display: none; 
  	text-align: center;
}
#lang__menu ul li {
    background-color: #fff;
  	padding: 5px 0px;
  	transition: all .3s ease;
  	-webkit-transition: all .3s ease;
  	-moz-transition: all .3s ease;
  	-o-transition: all .3s ease;
}
#lang__menu ul li a:hover {  
  	cursor: pointer;
  	color: #932210;
}

/*************Forum-section*************/

section.forum {
	background-image: url(../img/forum/forum-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: auto;
}
.forum__wrap {
	width: 840px;
    max-width: 100%;
    padding: 115px 20px 120px;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}
h1.title {
  	font-size: 2.8125em;
  	font-weight: 500;
  	color: rgb(242, 242, 242);
  	text-transform: uppercase;
  	line-height: 1.2;
  	text-align: center;
  	padding: 0 10px 50px;
  	margin-top: 0;
}
.forum__address {
  	font-size: 1.875em;
  	font-weight: 300;
  	color: rgb(242, 242, 242);
  	line-height: 1.2;
  	text-align: center;
    padding-top: 50px;
}
a.button__red {
  	font-size: 1.125em;
  	font-weight: 300;
  	font-family: 'Roboto Medium';
  	color: rgb(242, 242, 242);
  	text-transform: uppercase;
  	line-height: 3.4;
  	
  	background: linear-gradient(to top right,#9d281f 46%,#a23123,#af503e 80%);
  
  	/*transition: all 0.5s ease-out;*/
}
a.button__forum {
    width: 190px;
    height: 60px;
    background: linear-gradient(to top right,#9d281f 46%,#a23123,#af503e 80%);
    margin-top: 50px;
}
a.button__red:hover {
	background: linear-gradient(to bottom right,#291c47 46%,#2c306d,#1e3c6e 80%);
}
.forum__item {
    position: relative;
    z-index: 1;
}
.forum__subtitle {
     font-size: 2.1875em;
  font-family: "Ubuntu";
  color: rgb(242, 242, 242);
  
  line-height: 1.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/*.forum__flexslider .flex-control-nav,
.forum__flexslider .flex-direction-nav {
    display: none;
}*/

/*Topics-section*/

.topics {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
}
.topics__img {
    width: 500px;
}
h2.h2__subtitle {
    font-size: 2.375em;
    font-weight: 500;
    color: rgb(30, 33, 50);
    line-height: 1.2;
    text-align: center;
    padding: 0 20px;
    margin-top: 115px;
}
.topics__wrap {
    width: 1225px;
    max-width: 100%;
    padding: 70px 20px 140px;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
}
.topics__descr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    width: 45%;

}
.topics__items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}
.topics__item {
    cursor: pointer;
    position: relative;
    z-index: 120;
    margin: 0 5px;
}
.topics__bg {
    background-image: url(../img/topics/bg-blue.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    width: 150px;
    height: 150px;
    -webkit-transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
    transition: background .25s ease-in-out;
}
.topics__form {
    position: absolute;
    z-index: 2;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topics__logo {
    position: absolute;
    z-index: 3;
    max-width: 95px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topics__item:hover .topics__bg {
    background-image: url(../img/topics/bg-red.png);
}
.topics__subtitle {
 
  font-size: 1.875em;

  color: rgb(30, 33, 50);
  line-height: 1.2;
    margin-top: 45px;
    margin-bottom: 0;
    padding: 0 10px;
}
.topics__text {
  font-size: 1em;
 font-weight: 300;
  color: rgb(30, 33, 50);
  line-height: 1.2;
  margin: 25px auto;
    padding: 0 10px;
}
a.button__blue {
	background: linear-gradient(to bottom right,#291c47 46%,#2c306d,#1e3c6e 80%);
}
a.button__blue:hover {
    background: linear-gradient(to top right,#9d281f 46%,#a23123,#af503e 80%);
}
a.button__topics {
    z-index: 120;
    font-size: 0.7869em;
    font-weight: 300;
    line-height: 3.4;
    font-weight: 500;
    text-transform: uppercase;
    width: 130px;
    height: 45px;
    
}


/****==================Canvas==================****/
.particle-network-animation {
    position: absolute;
    overflow: hidden;
    width: 450px;
   
    background-color: rgba(255, 255, 255, 0);
}
.topics .particle-network-animation {
    top: -115px;
    right: 0;
    height: 960px;
}
/*.particle-network-animation::before {
  z-index: -2;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(https://s10.postimg.org/yt7hgnms9/vlogo.png);
  background-position: center center;
  background-repeat: no-repeat;
}*/

/*.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
}

.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move 25s linear infinite both;
}

@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}
.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move 25s linear 8.3333333333s infinite both;
}

@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}
.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move 25s linear 16.6666666667s infinite both;
}

@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}*/

/***************Participants-section***************/


.participants {
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.partner, .exponent {
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    width: 960px;
    height: auto;
    margin: 0 auto;
}
.partner {
    background-image: url(../img/participants/partner-bg.jpg);
}
.exponent {
    background-image: url(../img/participants/exponent-bg.jpg);
} 
.partner__container {

   float: right;
    padding: 100px 190px 100px 10px;
}
.exponent__container {

   float: left;
    padding: 100px 10px 100px 70px;
}
.participants__wrap {
   
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
     display: flex; 
     -webkit-flex-direction: column; 
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}
.partner__wrap {
    width: 230px;
}
.exponent__wrap {
    width: 515px;
    justify-content: space-between;
}
.h3__subtitle {
  font-size: 1.875em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}
.participants__items {
    padding: 25px 0;

}
.participants__item {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 230px;
  height: 88px;
  z-index: 1;
  margin: 50px 0;
}
.participants__img {
    position: absolute;
    max-width: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.participants__link {
  font-size: 1.25em;
  font-family: "Roboto Medium";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.participants__link:hover {
    border-bottom: 1px solid transparent;
}
.exponent__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

/*Support-section*/

.support {
    background-image: url(../img/support/support-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: auto;
}
.support__wrap {
   
    padding: 100px 20px;
}
.support__subtitle {
    padding: 0 10px;
}
.support__flexslider {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  max-width: 1170px;
  width: 100%;
  height: 92px;
    margin: 75px auto 0;
    padding: 20px 0;
}
.support__flexslider li {
    width: 510px !important;
}
.support__flexslider .flex-viewport {
    top: 50%;
    transform: translateY(-50%);
}

/*Бегущая строка*/

/*.str {
    border-radius: 10px;
  background-color: rgb(255, 255, 255);
  max-width: 1170px;
  width: 100%;
  height: 92px !important;
    margin: 75px auto 0;
    padding: 20px 0;
}*/
.str_move {
     top: 50%;
    transform: translateY(-50%);
}

.str img {
    max-width: 180px !important;
    width: 100%;
    height: auto;
    margin-right: 50px;
    opacity:0.8;
}
.str img:hover {
    opacity:1;
}

.scroller__wrapper { 
	overflow: hidden; 
	position: relative; 
	 border-radius: 10px;
  background-color: rgb(255, 255, 255);
  max-width: 1170px;
  width: 100%;
  height: 92px;
    margin: 75px auto 0;
    padding: 20px 0;
}
ul.scroller { 
	position: relative; 
	white-space: nowrap; 
	font-size: 0; 
}
ul.scroller li { 
	display: inline-block; 
	white-space: normal; 
	vertical-align: middle; 
	padding: 10px; 
}
ul.scroller li img {
	 max-width: 180px;
    width: 100%;
    height: auto;
    margin-right: 20px;
  
}

/*Greeting-section*/
.greeting {
	position: relative;
}
.greeting__wrap {
	padding: 100px 20px 120px;
}
.greeting .h2__subtitle {
	margin-top: 0;
}

.greeting__item {
	max-width: 1210px;
	width: 100%;
	margin: auto;
	padding: 50px 20px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.greeting__text {
  font-size: 1.25em;
  font-family: "Roboto Medium";
  color: rgb(30, 33, 50);
  line-height: 1.2;
}
.greeting__signature {
	-ms-align-self: flex-end;
	align-self: flex-end;
}
.greeting__img {
	width: 400px;
	height: 400px;
	margin-bottom: 35px;
}
.greeting__photo {
  -webkit-clip-path: url(#greeting__clip);
  clip-path: url(#greeting__clip);
  width: 400px;
}
.greeting .particle-network-animation {
    top: -115px;
    right: 0;
    height: 960px;
}

/*Speakers-section*/

.speakers {
	background-image: url(../img/speakers/speakers-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: auto;
}
.speakers__wrap {
	max-width: 1210px;
	width: 100%;
	height: auto;
	padding: 120px 20px 100px;
	margin: auto;
}
h2.speakers__subtitle {
	font-size: 2.375em;
  	color: rgb(255, 255, 255);
 	text-align: center;
}
.speakers__flexslider {
	background: transparent; 
    border: none;
    margin-top: 90px;
}
.speakers__flexslider .speakers__img {
	width: 270px;
	height: 270px;
	margin: 0 5px 25px 12px;
}
.speakers__flexslider .speakers__photo {
  -webkit-clip-path: url(#speakers__clip);
  clip-path: url(#speakers__clip);
  width: 270px !important;
  height: 270px !important;
  transition: filter .5s ease-in-out; 
  -webkit-filter: grayscale(99%);  
  filter: grayscale(99%);
  cursor: pointer;
}
.speakers__flexslider .speakers__photo:hover {

  -webkit-filter: grayscale(0%);  
  filter: grayscale(0%);  
}
.speakers__name {
  font-size: 1.125em;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}
.speakers__slide {
	position: relative;
}
.speakers__occupation {
	 font-size: 1.125em;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  font-weight: 300;
	margin-top: 15px;
	 max-width: 0%;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 1s linear;
	
	/*transition: opacity 1.5 ease;*/
}
.speakers__occupation.speakers__hover {
	max-width: 100%;
}
.speakers__flexslider .flex-control-paging li a.flex-active {
	background: #7692c7;
}
.speakers__flexslider .flex-control-paging li a {
	background: #fff;
}
.speakers__flexslider .flex-direction-nav a {
	top: 28%;
	    width: 111px;
    height: 64px;
}
.speakers__flexslider .flex-direction-nav .flex-next,
.speakers__flexslider .flex-direction-nav .flex-prev {
    opacity: 1;  
}
.speakers__flexslider .flex-direction-nav .flex-prev {
    left: -85px;
}
.speakers__flexslider .flex-direction-nav .flex-next {
    right: -85px;
}

.speakers__flexslider:hover .flex-direction-nav .flex-prev {
        left: -85px;
   
}
.speakers__flexslider:hover .flex-direction-nav .flex-next {
   
    right: -85px;
}
.speakers__flexslider .flex-direction-nav a.flex-next:before {
	content: "\2192";
    font-size: 5em;
    color: #fff;
    transition: color .5s ease-in-out;
}
.speakers__flexslider .flex-direction-nav a.flex-prev:before {
    content: "\2190";
    font-size: 5em;
    color: #fff;
    transition: color .5s ease-in-out;
}
.speakers__flexslider .flex-direction-nav a.flex-prev:hover:before,
.speakers__flexslider .flex-direction-nav a.flex-next:hover:before {
	color: #94baf5;
}

/*Programm-section*/

.programm {
	width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
}
.programm__wrap {
	width: 1210px;
    max-width: 100%;
    padding: 125px 20px 120px;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
h2.programm__subtitle {
	font-size: 2.375em;
  	margin-top: 0;

 	text-align: center;
}
.programm__items {
	margin-top: 80px;
	margin-bottom: 90px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.programm__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	padding-right: 25px;
}
.programm__item:last-child {
	padding-right: 0;
}
.programm__data {
  font-size: 1.875em; 
  color: rgb(30, 33, 50);
  line-height: 1.2;
  padding-left: 10px;
}
.programm__line {
	background-image: url(../img/programm/line.png);
	width: 126px;
	height: 21px;
	margin-top: 5px;
	margin-bottom: 30px;
	transition: background-image .5s ease-in-out;
}
.programm__item:hover .programm__line {
	background-image: url(../img/programm/line-hover.png);
}
.programm__title {
  font-size: 1.1875em;
  font-weight: 700;
  color: rgb(30, 33, 50);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 15px;
}
.programm__desc {
  font-size: 1em;
  font-family: "Roboto Regular";
  /*font-weight: 300;*/
  color: rgb(30, 33, 50);
  line-height: 1.3;
}
a.button__programm {
	font-size: 1.25em;
    width: 190px;
    height: 60px;
    line-height: 1.1;
    font-weight: 300;
    padding-top: 6px;
}
.programm .particle-network-animation {
    top: -115px;
    right: 0;
    height: 960px;
}
/*News-section*/

.news {
	width: 100%;
    max-width: 1920px;
    height: auto;
    background: linear-gradient(to top right,#ada3cc ,#d1c7f0 , #f6f4ff , #f9f9ff);
    position: relative;
    margin: auto;
}
.news__wrap {
	max-width: 1210px;
	width: 100%;
	height: auto;
	padding: 120px 20px 80px;
	margin: auto;
}
h2.news__subtitle {
	font-size: 2.375em;
  	margin-top: 0;

 	text-align: center;
}
.news__items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.news__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding-right: 100px;
}
.news__item:last-child {
	padding-right: 0;
}
.news__img {
	width: 330px;
	height: 330px;
	/*margin: 0 5px 25px 12px;*/
}
.news__photo-wrap {
	position: relative;
  -webkit-clip-path: url(#news__clip);
  clip-path: url(#news__clip);
  width: 330px !important;
  height: 330px !important;
}
.news__photo {
	width: 330px;
	height: 330px;
}
.news__photo-form {
	position: absolute;
    top: 8px;
    right: 20px;
}
.news__date {
  font-size: 0.9375em;
  font-family: "Roboto Medium";
  color: rgb(30, 33, 50);
  position: absolute;
   top: 68px;
    right: 44px;
}
.news__title {
  font-size: 1.25em;
  color: rgb(30, 33, 50);
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 20px;
}
.news__text {
  font-size: 1em;
  font-family: "Roboto Regular";
  color: rgb(30, 33, 50);
  line-height: 1.2;
}
a.button__news {
  font-size: 1.125em;
  width: 150px;
  height: 47px;
 	line-height: 2.6;
 	margin: 25px auto 0;
}
.pagination {
	padding: 70px 20px 0; 
	clear: both;
	position: relative;
    z-index: 1;
}
.pagination ul {
	text-align: center;
	padding: 0;
}
.pagination ul li {
	display: inline-block; 
	margin: 0 1px; 
	vertical-align: middle; 
	line-height: 12px; 
	padding: 2px;
	cursor: pointer;
}
.pagination ul li a, 
.pagination ul li span {
	color: #1e2132;
	font-weight: 700;
	text-decoration: none;
} 
.pagination ul li a:hover, 
.pagination ul li span:hover,
.pagination ul li a.prev:hover, 
.pagination ul li a.next:hover {
	color: #b54238; 
	/*border-radius: 1px;*/
}
.pagination ul li a.prev, 
.pagination ul li a.next {
	font-size: 20px;
	font-weight: 300;
	color: #1e2132;
}
.pagination ul li.active a, 
.pagination ul li.active span {
	color: #b54238; 
	font-size: 18px; 
	/*font-weight: bold;*/
}
/*.pagination ul li.active a:hover, 
.pagination ul li.active span:hover {
	background: none;
} */
/*.pagination ul li.active a {
	color: #b54238; 
	font-size: 16px; 
	font-weight: bold;
}*/

/*Contacts-section*/

.contacts {
	width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
}
.contacts__wrap {
	width: 1210px;
    max-width: 100%;
    padding: 100px 20px;
    margin: auto;
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 -webkit-flex-direction: column;
 -moz-flex-direction: column;
 -ms-flex-direction: column;
 -o-flex-direction: column;
 flex-direction: column;
 justify-content: flex-start;
}
h2.contacts__subtitle {
	text-align: left;
	padding-left: 0;
	margin-top: 0;
}
.contacts__icons {
	padding: 45px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.contacts__icon {
	background-image: url(../img/contacts/icon.png);
	width: 40px;
	height: 39px;
	margin-right: 10px;
	position: relative;
	cursor: pointer;
	transition: background-image .5s ease-out;
}
.contacts__icon:hover {
	background-image: url(../img/contacts/icon-hover.png);
}
.contacts__img {
	position: absolute;
	width: 19px;
	height: 19px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.contacts__desc {
  font-size: 1.375em;
  font-weight: 600;
  font-family: "Roboto Regular";
  color: rgb(30, 33, 50);
  line-height: 1.409;
  margin-bottom: 5px;
}
.contacts__link {
	font-family: "Roboto Medium";
	font-weight: 300;
	color: #1e2132;
}
.contacts__link-hover:hover {
	color: #871c0c;
}
a.button__contacts {
	width: 150px;
	height: 50px;
	line-height: 2.75;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 45px;
}

/*Footer*/

.footer {
	background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    width: 100%;
    max-width: 1920px;
    height: 80;
    margin: auto;
}
.footer__wrap {
	width: 840px;
    max-width: 100%;
    padding: 20px;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    color: #fff;
}
.footer__copy {
	font-size: 1em;
	font-family: "Roboto Regular";
	margin-bottom: 7px;
}
.footer__text {
	font-size: 0.75em;
	font-family: "Roboto Light";
}
.footer__link {
	color: #fff;
}
.footer__link:hover {
	text-decoration: underline;
}



