html, body {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu";
  
    font-style: normal;
	font-size: 16px;
	position: relative;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 320px;
    height: 100%;
}
img {
    max-width: 100%;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
a.button {
    display: block;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
    /*width: 280px;*/
    /*height: 52px;*/
    border-radius: 40px;
    /*background-color: #ffc000;*/
    color: #fff;
    line-height: 2.6;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    /*margin: 0 auto;*/
    
}
input, 
.button, 
.button:hover, 
.button:active {
	outline: none;
}

/************** Header-section **************/

.header {
	padding: 30px 20px;
}
.header__wrap {
	width: 1150px;
	max-width: 100%;
	height: auto;
	margin: auto;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.logo {
	width: 360px;
	height: auto;
}
.navigation__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.menu {	
	margin: 0;
    padding: 0;
    padding-right: 83px;
    width: 100%;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.menu__links-item {
	display: inline-block;
	list-style-type: none;
	font-family: 'Roboto Medium';
	font-size: 1.125em;
	padding-right: 25px;
	position: relative;
	cursor: pointer;
}
.menu__links-item a {
	color: rgb(30, 33, 50);
  line-height: 1.2;
	text-decoration: none;
}
.menu__links-item a:hover,
.menu__links-item a:active {
	color: #e31e24;
	/*border-bottom: 1px solid #fff;*/
}

/************** Adaptive menu **************/

.menu__icon {
	display: none;
	width: 45px;
    height: 35px;
    position: relative;
    left: 0;
    bottom: -13px;
    cursor: pointer;
    margin-right: 0;
}
.menu__icon span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: rgb(30, 33, 50);
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
			transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.menu__icon span:nth-child(1) {
	top: 0px;
}
.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
	top: 13px;
}
.menu__icon span:nth-child(4) {
	top: 26px;
}
.navigation.menu_state_open .menu__icon span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.navigation.menu_state_open .menu__icon span:nth-child(2) {
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
}
.navigation.menu_state_open  .menu__icon span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
}
.navigation.menu_state_open  .menu__icon span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.navigation.menu_state_open .menu__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column;
	line-height: 30px; 
	position: absolute;   
    top: 143px;
    width: 100%;
    z-index: 900;
    background-color: #fff;
    left: 0;
    padding: 20px;
}
.navigation.menu_state_open .menu__links-item {
	width: fit-content;
}


/*****Header========Top__search*****/

.top__search {
    position: relative;
    float: right
}
.search__form {
    z-index: 500;
    position: relative;
    height: 50px;
    float: right
}
.search__form button {
    border: 2px solid #fff;
    position: relative;
    z-index: 100;
    display: block;
    text-indent: -9999px;
    background: #fff url('../img/header/ico-search.png') 100% 50% no-repeat;
    width: 38px;
    height: 50px;
    padding-right: 0;
    cursor: pointer
}
.search__form span {
    z-index: 50;
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    background: #fff
}
.search__form span input {
    background: none;
    border: none;
    padding: 16px 14px;
    border: 1px solid #393939;
    font-size: 14px;
    width: 100%
}
/*****Header========Switch__lang*****/

#lang__menu {
	width: 120px;
    height: auto;
    font-family: 'Roboto Medium';
    font-size: 1.125em;
    color: rgb(30, 33, 50);
  	line-height: 1.2;
    position: absolute;
    top: 4px;
    right: 35px;
  	border: 1px solid rgba(255,255,255,0);
  	transition: all .3s ease;
  	-webkit-transition: all .3s ease;
  	-moz-transition: all .3s ease;
  	-o-transition: all .3s ease;
}
#lang__menu:after {
	content: '';
	background-image: url(../img/header/down-arrow.png);
	width: 15px;
    height: 12px;
    position: absolute;
    top: 13px;
    right: 26px;
}
#lang__menu div {
  	height: 25px;
  	text-align: center;
  	padding: 10px;
  	border-bottom: 1px solid rgba(255,255,255,0);
  	transition: all .2s ease;
  	-webkit-transition: all .2s ease;
  	-moz-transition: all .2s ease;
  	-o-transition: all .2s ease;
}
#lang__menu ul {
  	list-style: none;
  	margin: 0px;
  	padding: 0px;
  	padding-top: 10px;
  	display: none; 
  	text-align: center;
}
#lang__menu ul li {
    background-color: #fff;
  	padding: 5px 0px;
  	transition: all .3s ease;
  	-webkit-transition: all .3s ease;
  	-moz-transition: all .3s ease;
  	-o-transition: all .3s ease;
}
#lang__menu ul li a:hover {  
  	cursor: pointer;
  	color: #acccfd;
}

/*************Forum-section*************/

section.forum {
	background-image: url(../img/forum/forum-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: auto;
}
.forum__wrap {
	width: 840px;
    max-width: 100%;
    padding: 115px 20px 120px;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}
h1.title {
  	font-size: 2.8125em;
  	font-weight: 500;
  	color: rgb(242, 242, 242);
  	text-transform: uppercase;
  	line-height: 1.2;
  	text-align: center;
  	padding: 0 10px 50px;
  	margin-top: 0;
}
.forum__address {
  	font-size: 1.875em;
  	font-weight: 300;
  	color: rgb(242, 242, 242);
  	line-height: 1.2;
  	text-align: center;
    padding-top: 50px;
}
a.button__red {
  	font-size: 1.125em;
  	font-weight: 300;
  	font-family: 'Roboto Medium';
  	color: rgb(242, 242, 242);
  	text-transform: uppercase;
  	line-height: 3.4;
  	
  	background: linear-gradient(to top right,#9d281f 46%,#a23123,#af503e 80%);
  
  	/*transition: all 0.5s ease-out;*/
}
a.button__forum {
    width: 190px;
    height: 60px;
    background: linear-gradient(to top right,#9d281f 46%,#a23123,#af503e 80%);
    margin-top: 50px;
}
a.button__red:hover {
	background: linear-gradient(to bottom right,#291c47 46%,#2c306d,#1e3c6e 80%);
}
.forum__item {
    position: relative;
    z-index: 1;
}
.forum__subtitle {
     font-size: 2.1875em;
  font-family: "Ubuntu";
  color: rgb(242, 242, 242);
  
  line-height: 1.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/*.forum__flexslider .flex-control-nav,
.forum__flexslider .flex-direction-nav {
    display: none;
}*/

/*Topics-section*/

.topics {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
}
.topics__img {
    width: 500px;
}
h2.h2__subtitle {
    font-size: 2.375em;
    color: rgb(30, 33, 50);
    line-height: 1.2;
    text-align: center;
    padding: 0 20px;
    margin-top: 115px;
}
.topics__wrap {
    width: 1160px;
    max-width: 100%;
    padding: 70px 20px 140px;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
}
.topics__descr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    width: 45%;

}
.topics__items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}
.topics__item {
    cursor: pointer;
    position: relative;
    z-index: 120;
    margin: 0 5px;
}
.topics__bg {
    background-image: url(../img/topics/bg-blue.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    width: 150px;
    height: 150px;
    -webkit-transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
    transition: background .25s ease-in-out;
}
.topics__form {
    position: absolute;
    z-index: 2;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topics__logo {
    position: absolute;
    z-index: 3;
    max-width: 95px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topics__item:hover .topics__bg {
    background-image: url(../img/topics/bg-red.png);
}
.topics__subtitle {
 
  font-size: 1.875em;

  color: rgb(30, 33, 50);
  line-height: 1.2;
    margin-top: 45px;
    margin-bottom: 0;
    padding: 0 10px;
}
.topics__text {
  font-size: 1em;
 font-weight: 300;
  color: rgb(30, 33, 50);
  line-height: 1.2;
  margin: 25px auto;
    padding: 0 10px;
}

a.button__topics {
    z-index: 120;
    font-size: 0.7869em;
    font-weight: 300;
    line-height: 3.4;
    font-weight: 500;
    text-transform: uppercase;
    width: 130px;
    height: 45px;
    background: linear-gradient(to bottom right,#291c47 46%,#2c306d,#1e3c6e 80%);
}
a.button__topics:hover {
    background: linear-gradient(to top right,#9d281f 46%,#a23123,#af503e 80%);
}

/****==================Canvas==================****/

.particle-network-animation {
    position: absolute;
    overflow: hidden;
    width: 450px;
    top: -115px;
    right: 0;
    height: 960px;
    background-color: rgba(255, 255, 255, 0);
}
/*.particle-network-animation::before {
  z-index: -2;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(https://s10.postimg.org/yt7hgnms9/vlogo.png);
  background-position: center center;
  background-repeat: no-repeat;
}*/

/*.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
}

.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move 25s linear infinite both;
}

@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}
.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move 25s linear 8.3333333333s infinite both;
}

@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}
.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move 25s linear 16.6666666667s infinite both;
}

@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}*/

/***************Participants-section***************/


.participants {
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.partner, .exponent {
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    width: 960px;
    height: auto;
    margin: 0 auto;
}
.partner {
    background-image: url(../img/participants/partner-bg.jpg);
}
.exponent {
    background-image: url(../img/participants/exponent-bg.jpg);
} 
.partner__container {

   float: right;
    padding: 100px 190px 100px 10px;
}
.exponent__container {

   float: left;
    padding: 100px 10px 100px 70px;
}
.participants__wrap {
   
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
     display: flex; 
     -webkit-flex-direction: column; 
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}
.partner__wrap {
    width: 230px;
}
.exponent__wrap {
    width: 515px;
    justify-content: space-between;
}
.h3__subtitle {
  font-size: 1.875em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}
.participants__items {
    padding: 25px 0;

}
.participants__item {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 230px;
  height: 88px;
  z-index: 1;
  margin: 50px 0;
}
.participants__img {
    position: absolute;
    max-width: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.participants__link {
  font-size: 1.25em;
  font-family: "Roboto Medium";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.participants__link:hover {
    border-bottom: 1px solid transparent;
}
.exponent__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

/*Support-section*/

.support {
    background-image: url(../img/support/support-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: auto;
}
.support__wrap {
   
    padding: 100px 20px;
}
.support__subtitle {
    padding: 0 10px;
}
.support__flexslider {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  max-width: 1170px;
  width: 100%;
  height: 92px;
    margin: 75px auto 0;
    padding: 20px 0;
}
.support__flexslider li {
    width: 510px !important;
}
.support__flexslider .flex-viewport {
    top: 50%;
    transform: translateY(-50%);
}