/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1300px) {

/**************** Speakers-section ****************/

    .speakers__flexslider .flex-direction-nav .flex-prev,
    .speakers__flexslider .flex-direction-nav .flex-next {
        display: none;
    }
  
}

@media only screen and (max-width: 1200px) {
    
/**************** Header-section ****************/

    .menu__icon {
        display: block;
    }
    .menu {
        display: none;
    }
    .navigation__wrap {
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -o-flex-direction: column-reverse;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
                flex-direction: column-reverse;
    }
    .menu__links-item-enter {
        margin-top: 10px;
    }

/************ Programm-section ************/

    .programm__items{
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .programm__item {
        width: 33%;
        margin-bottom: 4%;
    }

/************* Participants-section *************/

    .participants__item {
        width: 100%;
    }
}

@media only screen and (max-width: 1040px) {
    
/****************** Topics-section ******************/

    .topics__descr {
        width: 55%;
    }


    
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    
/****************** Programm-section ******************/

    .programm__item {
        width: 50%;
    }

/****************** News-section ******************/

    .news__item {
        width: 47%;
        -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .news__text {
        text-align: center;
    }

/*=======/////=========== Partners-page ===========/////=======*/   

    .partners__tabs li {
        font-size: 1em;
    }   

/*======================================================*/
            /*=  Visitors-programm-page  ==*/    
/*=======================================================*/

    .timetable__section {
        font-size: 0.7375em;
    }  

/*======================================================*/
            /*=  Visitors-ticket-page  ==*/    
/*=======================================================*/

    .filters__top {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: flex-start;
    }
    .outer {
        padding: 0 20px;
    }
    .filters__search {
        width: 90%;
    }
    .filters__icon {
        margin-top: 20px;
        width: 150px;
        -ms-align-self: center;
        align-self: center;
    }    

/*======================================================*/
            /*=  Visitors-programm-page  ==*/    
/*=======================================================*/
    .media .news__title {
        text-align: center;
    }
  }

@media only screen and (max-width: 880px) {

/****************** Topics-section ******************/    

    .topics__main {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .topics__descr {
        width: 100%;
        margin-top: 1.5%;
    }

/*=======/////=========== Subject-page ===========/////=======*/
    
    .subject__wrap {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        padding-top: 10%;
    }
    .subject__img-wrap {
        padding-right: 0;
        width: 60%;
    }
    .subject__descr {
        width: 100%;
    }
    .subject__descr .forum__title {
        margin: 25px 0;
    }

/*=======/////=========== Staff-page ===========/////=======*/

    .staff__item {
        width: 46%;
    } 

/*======================================================*/
            /*=  Visitors-ticket-page  ==*/    
/*=======================================================*/

    .inner__form,
    .inner__filter {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
    .inner__select {
        height: 65px;
    }
    .pseudo-select {
        font-size: 0.8em;
    }  
    .inner__title {
        margin-bottom: 15px;
        text-align: center;
    } 
    .inner__char {
        margin-right: 10px;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

/************ Programm-section ************/

    .programm__item {
        width: 50%;     
    }

/************ News-section ************/
  
    .news__item {
        width: 100%;
    }
    a.button__news {
        margin-top: 5%;
    }

/*=======/////=========== Partners-page ===========/////=======*/   

    .partners__list {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }  
    .partners__img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

/*======================================================*/
            /*=  Visitors-programm-page  ==*/    
/*=======================================================*/

    .timetable__container-time {
        display: none;
    }
    .timetable__main {
        height: auto !important;
    }
    .timetable__container-main {
        position: static !important;
        height: auto!important;
    }
    .timetable__cell {
        position: static !important;
        height: auto!important;
        margin-bottom: 5px;
    }
    .timetable__container-box {
        position: static !important;
        width: 80% !important;
        top: 0 !important;
        height: auto !important;
        left: 0 !important;
        right: 0 !important;
        margin: auto;
    }
    .timetable__box {
        padding-top: 0;
        margin-top: 18px;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .timetable__section {
        -ms-align-items: center;
        align-items: center;
    }
    .timetable__section-time {
        padding-top: 10px;
    }
    .timetable__link {
        font-size: 16px;
    }

/*======================================================*/
            /*=  Media-photo-video-page  ==*/    
/*=======================================================*/

    .media .partners__tabs li {
        margin-right: 0; 
    }

/*======================================================*/
            /*=  Media-photo-video-page  ==*/    
/*=======================================================*/    

    .media__photo-item {
        width: 48%;
    }
    .media__photo-item:nth-child(3n) {
        margin-right: 1.5%;
    }
    .media__photo-item:nth-child(2n) {
        margin-right: 0;
    }
    .fancybox-next {
        right: 0;
    }
    .fancybox-prev {
        left: 0;
    }
    .fancybox-prev span, .fancybox-next span {
        background-image: url(../libs/fancybox/fancybox_sprite@2x.png);
        background-size: 44px 152px;
    }
    .fancybox-prev span {
        left: 10px;
        background-position: 0 -36px;
    }
    .fancybox-next span {
        right: 10px;
        background-position: 0 -72px;
    }
    .fancybox-nav span {       
        top: 50%;
        width: 36px;
        height: 34px;
    }
    .fancybox-next span:hover {
        background-image: url(../libs/fancybox/fancybox_sprite@2x.png);
    }
    .fancybox-prev span:hover {
        background-image: url(../libs/fancybox/fancybox_sprite@2x.png);
    }
}
@media only screen and (max-width: 550px) {

    body {
        font-size: 12px;
    }

/************* Header-section *************/

    .header {
        padding: 20px 10px 30px;
    }
    .logo {
        width: 70%;
    }
    #lang__menu ul li {
        background-color: transparent;
    }
    .navigation.menu_state_open .menu__links {
        top: 134px;
    }

/************** Forum-section **************/
    
    .forum__subtitle {
        font-size: 1.2em;
    }
    a.button__forum {
        line-height: 4.4;
    }

/************ Topics-section ************/

    .topics__top {
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    a.button__topics {
        font-size: 1.125em;
    }

/************ Participants-section ************/

   .participants {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
   }
   .partner, .exponent {
        width: 100%;
   }

/************ Programm-section ************/

    a.button__programm {
        font-size: 18px;
        line-height: 1.25;
    }
     .programm__item {
        width: 100%;     
    }

/************** News-section **************/

    .news__item {
        width: 100%;
    }
    a.button__news {
        font-size: 1.28em;
        line-height: 2.9;
    }

/*********** Contacts-section ***********/

    .contacts__icons {
        padding: 30px 0;
    }
    a.button__contacts {
        margin-top: 30px;
        line-height: 3.75;
    }

/*=======/////=========== About-page ===========/////=======*/

    .about__wrap {
        padding-top: 12%;
        padding-bottom: 12%;
    }

/*=======/////=========== Staff-page ===========/////=======*/

    .staff__item {
        width: 75%;
    }   

/*=======/////=========== Partners-page ===========/////=======*/   

    a.button__partners {
        font-size: 18px;
    }   
    .partners__tabs li {
        font-size: 0.8em;
        height: 39px;
        padding-bottom: 0px;
        padding-top: 9px;
        width: 33%;
    }
    ul.partners__tabs {
        padding-bottom: 15px;
    }

/*======================================================*/
            /*=  Visitors-programm-page  ==*/    
/*=======================================================*/
    
    .timetable__main {
        margin-top: 27px;
    }
    .timetable__section-title {
        font-size: 12px;
    }
    .timetable__link {
        font-size: 11px;
    }

/*======================================================*/
            /*=  Media-photo-video-page  ==*/    
/*=======================================================*/

    .media ul.partners__tabs {
        justify-content: center;
    }
    .media .partners__tabs li {
        width: 50%;
    }

/*======================================================*/
            /*=  Media-photo-video-page  ==*/    
/*=======================================================*/    

    .media__photo-item {
        width: 95%;
        margin-right: 0;
    } 
    .media__photo-item:nth-child(3n) {
        margin-right: 0;
    }
    .media__photo-item:nth-child(2n) {
        margin-right: 0;
    }   
 
}   

/* Extra Small Devices, Phones */

@media only screen and (max-width: 450px) {

/**************** Header-section ****************/

    #lang__menu:after {
        background-size: 99%;
        width: 10px;
        height: 8px;
        top: 14px;
        right: 37px;
    }

/************** Forum-section **************/
    
    h1.title {
        font-size: 2.4em;
    }
    a.button__forum {
        font-size: 13.5px;
    }    

/************ Programm-section ************/

    .programm__item {
        width: 100%;
    }    

/************ Contacts-section ************/

    a.button__contacts {
        font: 13.2px;
    }

/************* Footer-section *************/

    .footer__text {
        font-size: 9px;
    }

/*======================================================*/
            /*=  Visitors-catalog-page  ==*/    
/*=======================================================*/    

    .pseudo-select .options {
        top: 49px;
    }

}

@media only screen and (max-width: 430px) {

}

@media only screen and (max-width: 400px) {
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 350px) {

}

/*==========  Other Methods  ==========*/

@media only screen and (min-width: 1450px) {
   
}

@media only screen and (min-width: 2120px) {
    
}