/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1600px) {


    
}

@media only screen and (max-width: 1200px) {
    
/**************** Header-section ****************/

    .menu__icon {
        display: block;
    }
    .menu {
        display: none;
    }
    .navigation__wrap {
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -o-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

/************ Programm-section ************/

    .programm__items{
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .programm__item {
        width: 33%;
        margin-bottom: 40px;
    }

}
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    
/****************** Header-section ******************/
    
  }



@media only screen and (max-width: 880px) {


}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

/************ Programm-section ************/

    /*.programm__items{
        margin-bottom: 20px;
    }*/
      .programm__item {
        width: 50%;
      
    }
    

}

@media only screen and (max-width: 550px) {
    body {
        font-size: 12px;
    }
    .header {
        padding: 20px 10px 30px;
    }
    .logo {
        width: 70%;
    }
    #lang__menu ul li {
        background-color: transparent;
    }
    .navigation.menu_state_open .menu__links {
        top: 134px;
    }

    

    .forum__wrap,
    .support__wrap,
    .programm__wrap,
    .contacts__wrap {
        padding: 60px 10px;
    }

    /*Forum-section*/

    a.button__forum {
        line-height: 4.4;
    }

/************ Support-section ************/

    .scroller__wrapper,
    .programm__items {
        margin-top: 40px;
    }

/* Programm-section */
    a.button__programm {
        font-size: 18px;
        line-height: 1.25;
    }
    .programm__item:last-child {
        /*margin-bottom: 20px;*/
    }
     .programm__item {
        width: 100%;
      
    }

    /*Contacts-section*/

    .contacts__icons {
        padding: 30px 0;
    }
    a.button__contacts {
        margin-top: 30px;
        line-height: 3.75;
    }
}   


/* Extra Small Devices, Phones */

@media only screen and (max-width: 500px) {
    

 
}

@media only screen and (max-width: 476px) {


}

@media only screen and (max-width: 450px) {

    body {
        font-size: 10px;
    }

/******* Header-section *******/

    #lang__menu:after {
        background-size: 99%;
        width: 10px;
        height: 8px;
        top: 12px;
        right: 37px;
    }

/********* Forum-section *********/

    a.button__forum {
        font-size: 13.5px;
    }    

/************ Programm-section ************/

    .programm__item {
        width: 100%;
    }    

    /*Contacts-section*/

    a.button__contacts {
        font: 13.2px;
    }

    /*Footer-section*/

    .footer__text {
        font-size: 9px;
    }

}

@media only screen and (max-width: 430px) {
    


}

@media only screen and (max-width: 400px) {
    
  
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 350px) {


}

/*==========  Other Methods  ==========*/

@media only screen and (min-width: 1450px) {
   
}

@media only screen and (min-width: 2120px) {
    
}
